backups/
banned-ips.json
banned-players.json
crash-reports/
eula.txt

journeymap/
libraries/
logs/
minetweaker.log
nucleus/userdata/
nucleus/worlddata/
config/nuvotifier/rsa/
mods/
world/

config/com.enjin.sponge/config.json
config/prism/prism.conf
usercache.json
usernamecache.json
whitelist.json
ops.json

*.so
*.png
*.sh
*.jar
*.zip
*.tar.gz
*.tar.bz2
*.bak
*.db
